@import '~boxicons';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #C9D7EE;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.music-player, .music-player-song-form, .music-player-list-songs {
  background-color: #E5EEFC;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  width: calc(300px - 3rem);
  height: calc(650px - 3rem);
  margin: auto;
  border-radius: 30px;
  box-shadow: 0 0 15px rgba(#000, 0.2);

  &-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      color: #A2B1CA;
      font-weight: 600;
      font-size: 10px;
    }

  }
}

.music-player {


  &-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.2rem;
    margin-bottom: 5rem;

    &-song-cover {
      width: 220px;
      height: 220px;
      border-radius: 50%;
      border: 8px solid #C3D0E1;
      box-shadow: 5px 5px 21px #b0b7c2, -5px -5px 21px #ffffff;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      margin-bottom: 2rem;
    }

    &-song-info {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;

      .song-title {
        color: #6C7A93;
        font-weight: 600;
        font-size: 20px;
      }

      .song-author {
        color: #B0BDD1;
        font-size: 12px;
        font-weight: 500;
      }
    }

    &-song-duration {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 2.3rem;

      .duration-box {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3px;

        p {
          color: #ADBACE;
          font-size: 8px;
          font-weight: 600;

        }
      }

      .duration-bar {
        width: 100%;
        background: transparent;
        position: relative;
        box-shadow: inset 5px 5px 5px #dae2ef, inset -5px -5px 5px #f0faff;
        height: 4px;
        border: 2px solid #CEDBEE;
        border-radius: 20px;

        &-bg {
          border-radius: 20px;
          height: 4px;
          background-color: #89AAFF;
          width: 0;
          position: relative;
          top: -2px;
          left: -2px;
          border: 2px solid #89AAFF;


        }

        &-circle {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background-color: #EAF5FF;
          top: -9px;
          left: 0;
          position: absolute;
          border: 3px solid #E5F2FF;
          box-shadow: 8px 8px 16px #c7cfdb, -8px -8px 16px transparent;

          &::after {
            content: '';
            border-radius: 50%;
            background-color: #89AAFF;
            width: 10px;
            height: 10px;
            position: absolute;
            top: 2.5px;
            left: 2.5px;
            display: flex;

          }
        }
      }
    }
  }

  &-bottom {
    display: flex;
    width: 100%;

    &-buttons {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;

      button {
        margin-right: 20px;
        padding: 20px;
        font-size: 1.8rem;
        width: 60px;
        height: 60px;
        transition: .3s all;

        &:nth-child(2) {
          i {
            position: relative;
            margin-left: 4px;
            margin-top: 2px;
          }

        }

        &:hover {

          background-color: #557DFF;
          color: #FEFEFF;
          border-color: #557DFF;
          box-shadow: inset 13px 13px 26px #4769d6, inset -13px -13px 26px #6391ff;


        }

        &:last-child {
          margin-right: 0;
        }
      }

      .btn--active {
        background-color: #557DFF;
        color: #FEFEFF;
        border-color: #557DFF;
        box-shadow: inset 13px 13px 26px #4769d6, inset -13px -13px 26px #6391ff;

        i {
          position: relative;
          margin-left: -0 !important;
        }
      }
    }
  }
}

.music-player-song-form {
  justify-content: space-between;

  &-top {
    justify-content: unset;

  }

  &-main {
    width: 100%;
    display: flex;
    flex-direction: column;


    &-inputs {
      width: 100%;
      display: flex;
      flex-direction: column;

      &-input-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        input {
          outline: none;
          border: 3px solid #DFE9F9;
          border-radius: 20px;
          background: #E5EEFC;
          box-shadow: inset 5px 5px 17px #c0c8d4, inset -5px -5px 17px transparent;
          height: 40px;
          padding-left: .5rem;
          width: calc(100% - .5rem);
          color: #A2B1CA;
          font-size: 11px;


          &::placeholder {
            color: #A2B1CA;
            font-size: 11px;
          }
        }

        label {
          color: #A2B1CA;
          font-size: 10px;
          font-weight: 500;
          margin-bottom: 1px;
        }
      }
    }

    button {
      border-radius: 20px;
      transition: .3s all;
      font-size: 12px;

      box-shadow: 8px 8px 16px #c7cfdb, -8px -8px 16px #c7cfdb;

      &:hover {
        transform: scale(.9);
      }
    }
  }


}


.music-player-list-songs {
  &-main {
    width: calc(100% + 2rem);
    position: relative;
    left: -1rem;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: #A2B1CA;
      border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb {
      background: #A2B1CA;
      border-radius: 20px;
    }
  }

  &-item {
    width: calc(100% - 2rem);
    padding: 1rem;
    display: flex;
    align-items: center;
    transition: .3s all;
    justify-content: space-between;
    margin-bottom: 10px;
    border-radius: 15px;

    &--active {
      background-color: #CFDCF2;

      button {
        box-shadow: 8px 8px 16px #b0bbce, -8px -8px 16px #eefdff;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      background-color: #D1DEF4;


    }

    &-info {
      display: flex;
      flex-direction: column;

      .song-title {
        color: #6C7A93;
        font-weight: 500;
        font-size: 13px;
      }

      .song-author {
        font-size: 11px;
        color: #B0BDD1;
        font-weight: 400;
      }
    }

    &-buttons {
      display: flex;

      button {
        width: 25px;
        height: 25px;
        font-size: .8rem;
        transition: .3s all;

        &:hover {
          &:last-child {
            background-color: #557DFF;
            color: #FEFEFF;
            border-color: #557DFF;
            box-shadow: inset 13px 13px 26px #4769d6, inset -13px -13px 26px #6391ff;
          }

          &:first-child {
            color: red;
          }

        }

        &:first-child {
          margin-right: 10px;

          i {
            position: relative;
            margin-top: 2px;
          }
        }


      }
    }
  }
}

button {
  outline: none;
  border: 3px solid #DFE9F9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #E5EEFC;
  box-shadow: 8px 8px 16px #c7cfdb, -8px -8px 16px #ffffff;
  color: #A2B1CA;
  font-size: 1rem;
  padding: 10px;
  cursor: pointer;
}